/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
   font-family: 'Lato', sans-serif;
   background-color: #f9e8d4;
 }

 .jumbotron {
   text-align: center;
 }

 a {
   color: darken(#e7e7e7, 70%);
 }

 .navbar {
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
 }

 .navbar-expand-lg {
   background: #ff9292;
 }

.btn-danger-two {
   background:  #ff9292;
   color: #fff;
}

.btn-primary-two {
  background: #1687a7;
  color: white;
}

.btn-success-two {
  background: #00af91;
  color: #fff;
}

.btn-warning-two {
  background: #ffc75f;
  color: #fff;
}
